#contain {
	padding: 100px;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	position: relative;
	background-image: url(../img/back.gif);
	background-size: 800px 800px;
}

#contain .back {
	width: 200px;
	height: 200px;
	float: left;
	border: 2px dashed #ffffff;
}

.item {
	width: 100px;
	height: 130px;
	left: 50px;
	top: 65px;
	position: absolute;
}

.buttom {
	width: 100px;
	height: 100px;
	background-color: #FAEBD7;
	left: 50px;
	top: 50px;
	border-radius: 50px;
	opacity: 0.4;
	position: absolute;
}

.safe {
	width: 100px;
	height: 130px;
	background-image: url(../img/safe.png);
	position: absolute;
}

.choose {
	/*border: 2px dotted #FFFFFF;*/
	box-shadow: 0px 0px 8px 8px #FFFFFF;
}