<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<title>象狮虎豹狼狗猫鼠</title>
	</head>

	<body>
		<div id="app">
			<div id="contain">

				<div class="back" v-for="(item,index) in 9" :id="gernerateId(index)"></div>
				<div class="buttom" v-for="(item,index) in animals" :style="{'left':(index%4)*200+50 +'px','top':parseInt(index/4)*200+50+'px'}" :id="gernerateBtmId(index)" @click="moveblank($event)">
				</div>
				<div v-model="isChoose" v-show="item.show===1" v-bind:class="{'item':true,'choose':index==isChoose}" v-for="(item,index) in animals" style="background: url(img/default.jpg)" :style="{'left':(index%4)*200+50 +'px','top':parseInt(index/4)*200+45+'px'}" :id="gernerateItemId(index)" @dblclick="choose(index)" @click="moveitem($event)">

				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/index.vue.js"></script>
	</body>

</html>